<main role="main" class="container">
  <div class="jumbotron col-md-10">
    <h1 class="display-4">Optuna Explorer</h1>
    <p class="lead">This website is a free database service for Machine Learning Developers who use the Optuna library who want to distribute their hyper-parameter optimization but don't want to go through the trouble of setting up a database server.</p>
    <hr class="my-4">
    <h2>Usage</h2>
    Instructions are only slightly different between operating systems. These instructions are valid for Python version 3.7 but may work with version 3.8.
    <h3>Installation</h3>
    In ubuntu, first ensure the package <code class="language-terminal">libmysqlclient-dev</code> is installed
    then, after installing optuna install the mysqlclient pip package.
    <pre class="language-terminal"><code>sudo apt install libmysqlclient-dev
pip install optuna mysqlclient</code></pre>
    <p class="text-danger">Note: the mysqlclient package from the default conda repo may not work.</p>
    <h3>Arch and Manjaro</h3>
    In arch or manjaro, the mysql C-connector was reduced to an AUR package, but the mariadb client works just as well.
    <pre class="language-terminal"><code>sudo pacman -S mariadb-libs
pip install optuna mysqlclient</code></pre><h3>Windows</h3>
    In windows, similarly install via pip.
    <pre class="language-terminal"><code>pip install optuna mysqlclient</code></pre>
    <h3>Signing Up</h3>
    You can sign up by simply clicking the Sign-Up button on the upper nav bar, input your desired username, email, and password. Click the reCAPTCHA and do any challenge it might ask to prove you are not a robot. After clicking Sign-Up, a confirmation email will be sent to you.
    <h3>Creating a Study</h3>
    After signing up, confirming your account, and signing in, click the Studies link on the navbar, then click "Create Study." Name your study and set the direction of optimization, whether to minimize or maximize.
    <h3>Usage</h3>
    Using OptunaExplorer is reasonably straightforward. I'll use the example from the <a href="https://optuna.readthedocs.io/en/stable/tutorial/first.html">Optuna documentation</a>.
    <pre class="language-python"><code>import optuna
def objective(trial):
    x = trial.suggest_uniform('x', -10, 10)
    return (x - 2) ** 2</code></pre>
    The usual code used to optimize the objective function would be
    <pre class="language-python"><code>study = optuna.create_study()
study.optimize(objective, n_trials=100)</code></pre>
    To use Optuna explorer the following modifications are done after creating ur account and study in the Optuna
    Explorer webinterface.
    <pre class="language-python"><code>study = optuna.load_study(study_name='Your study name', storage='mysql:// <-- your mysql url')
study.optimize(objective, n_trials=100)</code></pre>
    After running a couple of trials, you will notice those trials in the OptunaExplorer web interface to see, edit, and delete Trials. The MySQL URL is on the studies page <br>
  </div>
  <%= render "layouts/support" %>
</main>